@CHARSET "UTF-8";
BODY {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    background-color: #333333;
    overflow: hidden;
    width: 100%;
    line-height: 80px;
    height: 80px;
    box-sizing: border-box;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-left: 70px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
}

.logo {
    float: left;
}

.logo img{
	height:90px;
}

.titelbar {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(../pictures/wohnungsliste.jpg);
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    position: relative;
}

.titel {
    background-color: white;
    height: 120px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content{
	position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    padding-top: 20px;
} 

.rating{
	position: absolute;
    left: 10%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    padding-top: 20px;
} 

.selection-area {
   
    width: 100%;
}

.submitForm{
    height: 200px;
    width: 20%;
}

.filter{
    padding-top: 2px;
	padding-bottom: 30px;
    padding-left: 30px;
    width: 60%;
    float: left;
}

.filter-right{
	padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 50px;
    width: 30%;
    float: right;
    text-align: right;
}

th{
	padding: 20px 30px;
	text-align: left;
}

td{
	padding: 20px 30px;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px; 
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

summary:hover {
	text-decoration: underline;
}