@CHARSET "UTF-8";
@import "basic.css";

.titelbar {

    background-image: url(../pictures/itemDetail.jpg);
}

.formular{
	float: left;
	width: 50%;
	height: 100%;
	padding: 3%;
	box-sizing: border-box;
	font-size: 20px;
}

.formularContent{
	float: right;
	width: 50%;
	padding: 2%;
	text-align: center;
	display: block;
	box-sizing: border-box;
}

.inputbox{
	width: 80%;
  padding: 10px 15px;
  margin: 8px 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.submitButton{
	border: none;
	background: none;
}