<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>List Manager</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="css/basic.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" >
        <link rel="stylesheet" href="css/bootstrap.css" />

    </head>  

    <body>                                   
        <nav>   
            <div class="navbar"> 
                <div class="logo">   
                    <img src="pictures/logo_transparent.png" alt="Selfhtml">
                </div>
                <a href="/">Wohnungen anschauen</a> 
                <a href="/item">Wohnung inserieren</a> 
                <a href="/user">User hinzufügen</a> 
                <a href="/userList">User anzeigen</a> 
                <a href="/impressum">Impressum</a> 
            </div>  
        </nav>     
        <div class="titelbar">      
            <div class="titel"> 
                <h2>Bildübersicht</h2>      
            </div>             
        </div>     

        <div class="container ">
            <div class="row">
                <div class="col-xs-10"> 
                    <h3>Eine einzelne Bilddatei hochladen (max. 500KB)</h3>
                </div>    
            </div>
            <div class="row">  
                <div class="col-xs-10">
                    <!-- achtung enctype muss gesetzt sein  -->
                    <form class="form-horizontal" th:action="${postAction}" method="post" enctype="multipart/form-data" >
                        <div class="form-group">
                            <div class="col-md-6">
                                <p class="alert alert-success" hidden="true" id="success-message">Image created.</p>
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-md-1">
                                <label class="control-label">Bild-Datei </label>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="file" name="uploadedfile" id ="fileid" accept=".png,.jpg" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-4">
                                <input id="btnsubmit" class="btn btn-primary" type="submit" value="Senden"/> 
                                <a class="btn btn-default" href="/">Zurück</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 

        <div class="container">              
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-condensed" > 
                        <tr> 
                            <th>Bezeichnung</th>  
                            <td></td>
                        </tr>       
                        <tr th:each="image : ${imageDetail}">
                            <td th:text="${image.getName()}">Ding 1</td>
                            <td><img th:src="@{'data:image/jpeg;base64,'+${image.getImage()}}" style="max-height: 250px; max-width=500px;"  />
                            </td>
                        </tr>   

                    </table>   
                </div>
            </div>
        </div> 
        <script type="text/javascript">
          
            var uploadField = document.getElementById("fileid");
            uploadField.onchange = function() {
                if(this.files[0].size > 500000){
                    alert("Die Datei ist zu gross! (max. 500KB erlaubt)");
                    this.value = "";
                }; 
            };  
            
        </script>
    </body>  
</html> 

