<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>List Manager</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/basic.css" type="text/css">
        <link rel="stylesheet" href="css/rating.css" type="text/css">    

    </head>

    <body>
        <nav>  
            <div class="navbar">
                <div class="logo">   
                    <img src="pictures/logo_transparent.png" alt="Selfhtml">
                </div>
                <a href="/">Wohnungen anschauen</a>
                <a href="/item">Wohnung inserieren</a> 
                <a href="/user">User hinzufügen</a> 
                <a href="/userList">User anzeigen</a> 
                <a href="/impressum">Impressum</a> 
            </div>  
        </nav>   
        <div class="titelbar">  
            <div class="titel"> 
                <h2>Impressum</h2>  
            </div>         
        </div>  

        <div class="rating">  
            <h3>Bitte bewerten Sie uns</h3>    
            <div>
                <form class="rate" method="post" >            
                    <input type="radio" id="star5" name="rate" value="5" onclick="doSubmit()" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" onclick="doSubmit()" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" onclick="doSubmit()" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" onclick="doSubmit()" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" onclick="doSubmit()" />
                    <label for="star1" title="text">1 star</label>
                </form></div>
            <br><br>
            <p th:text="'Durchschnittliche Bewertung: ' + ${rating}">Hallo</p>	
            <br>
            <div id="myBtnContainer"> 
                <p>
                    <a href="/charts/barchartpage.html"><img src="pictures/chart.png" alt="contact" height="100"></a>
                </p>Chart anzeigen
            </div>  
        </div> 


        <div class="content">  
            <h3>Autoren</h3>

            <table border=0 frame=void >
                <tr>  
                    <th>Name</th>
                    <th>E-Mail</th>
                </tr>   
                <tr>
                    <td>Timo Lustenberger</td>
                    <td><a href="mailto:timo.lustenberger@students.bfh.ch">timo.lustenberger@students.bfh.ch</a></td>
                </tr>  
                <tr>
                    <td>Phetvanxai Nantavong</td>
                    <td><a href="mailto:phetvanxai.nantavong@students.bfh.ch">phetvanxai.nantavong@students.bfh.ch</a></td>
                </tr>  
                <tr>
                    <td>Stefan Pavlovic</td>
                    <td><a href="mailto:stefan.pavlovic@students.bfh.ch">stefan.pavlovic@students.bfh.ch</a></td>
                </tr> 
                <tr>
                    <td>Iven Ruprecht</td>
                    <td><a href="mailto:iven.ruprecht@students.bfh.ch">iven.ruprecht@students.bfh.ch</a></td>
                </tr>  
                <tr>
                    <td>Robin Strasser</td>
                    <td><a href="mailto:robinandreas.strasser@students.bfh.ch">robinandreas.strasser@students.bfh.ch</a></td>
                </tr> 
            </table>   
            <hr>
            <p>
                Berner Fachhochschule (BFH) • Brückenstrasse 73 • CH-3005 Bern • Schweiz<br>
            </p>

        </div>    

        <script type="text/javascript"> 
            function doSubmit(){
                var x = document.getElementsByTagName("form");
                x[0].submit();// Form submission
            }
        </script> 
    </body> 

</html>