<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>List Manager</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/basic.css" type="text/css">
    </head>

    <body>  
        <nav> 
            <div class="navbar">
                <div class="logo">   
                    <img src="pictures/logo_transparent.png" alt="Selfhtml">
                </div>
                <a href="/">Wohnungen anschauen</a>
                <a href="/item">Wohnung inserieren</a> 
                <a href="/user">User hinzufügen</a> 
                <a href="/userList">User anzeigen</a> 
                <a href="/impressum">Impressum</a> 
            </div>  
        </nav> 
        <div class="titelbar">  
            <div class="titel"> 
                <h2>WG-Wohnungsliste</h2> 
            </div>        
        </div>

        <div class="content">  
            <div class="selection-area">
                <details>
                    <summary>Filtern / Sortieren</summary>
                    <div class="filter">             
                        <h3>Höchstpreis:</h3>
                        <div id="myBtnContainer"> 
                            <button class="btn active" name="price" value="No" onclick="setInput('No')">Nein</button>
                            <button class="btn" name="price" value="400" onclick="setInput('400')">400 CHF</button>
                            <button class="btn" name="price" value="500" onclick="setInput('500')">500 CHF</button>
                            <button class="btn" name="price" value="600" onclick="setInput('600')">600 CHF</button>
                            <button class="btn" name="price" value="700" onclick="setInput('700')">700 CHF</button>
                            <button class="btn" name="price" value="800" onclick="setInput('800')">800 CHF</button>
                            <button class="btn" name="price" value="900" onclick="setInput('900')">900 CHF</button>
                        </div>

                        <h3>Preis-Sortierung:</h3>
                        <div id="mySortContainer">
                            <select id="sortId" onchange="changeFunc()" >
                                <option value="No" selected>Keine</option>
                                <option value="ASC">Aufsteigend</option>
                                <option value="DESC">Absteigend</option>
                            </select>
                        </div>              
                    </div> 
                    <div class="filter-right">
                        <form name="FilterForm" method="get">
                            <input type="hidden" id="priceFilterId" name="price" value="No" /> 
                            <input type="hidden" id="priceSortingId" name="priceSorting" value="No" /> 
                            <h3>Beschreibung:</h3>
                            <div id="myDescriptionContainer">
                                <input type="text" id="descriptionId" name="description" maxlength="30" size="30" pattern="[A-Za-z0-9\s\.]{2,30}" title="Die WG-Inserate müssen die Eingabe in der Bezeichnung enthalten."><br><br><br>
                            </div>

                            <button type="submit" class="submitButton">
                                <img src="pictures/send.png" alt="Selfhtml" height="40px"></button>
                        </form> 
                    </div>

                </details>
            </div>
            <br>
            <table border=2 frame=void rules=rows style="border-top: 2px solid gray;" > 
                <tr> 
                    <th>Bezeichnung</th>
                    <th>Zimmerfläche (m<sup>2</sup>)</th>
                    <th>Preis (CHF)</th>
                    <th>Wohnungsfläche (m<sup>2</sup>)</th>
                    <th>Adresse</th>
                    <th>PLZ</th> 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>   
                <tr th:each="item : ${list}">
                    <td th:text="${item.getName()}">Ding 1</td>
                    <td th:text="${item.getQuantity()}">99</td>
                    <td th:text="${item.getPrice()}">99</td>
                    <td th:text="${item.getFlatSize()}">99</td>
                    <td th:text="${item.getStreet()}">99</td>
                    <td th:text="${item.getPlz()}">99</td>
                    <td><a href="" th:href="${'/image?id=' + item.getId()}"><img src="pictures/camera.png" alt="image" height="45"></a></td>
                    <td><a href="" th:href="${'/user?id=' + item.getUserId()}"><img src="pictures/contact.png" alt="contact" height="30"></a></td>
                    <td><a href="" th:href="${'/item?id=' + item.getId()}"><img src="pictures/edit.png" alt="edit" height="30"></a></td>
                    <td><a href="" onclick="return confirmDelete(this, 'Soll der Datensatz wirklich gelöscht werden?');" th:href="${'/item/delete?id=' + item.getId()}"><img src="pictures/delete.png" alt="delete" height="30"></a></td>

                </tr>  
            </table>   
        </div>  
        <script type="text/javascript">
            function confirmDelete(link, question)
            { 
                if (typeof(question) == 'undefined')
                    question = 'Wirklich löschen?' 
                return window.confirm(question); 
            }  

            function setInput(c) {
                document.getElementById('priceFilterId').value = c;      
            }  


            // Get the container element
            var btnContainer = document.getElementById("myBtnContainer");
            // Get all buttons with class="btn" inside the container
            var btns = btnContainer.getElementsByClassName("btn");
            // Loop through the buttons and add the active class to the current/clicked button
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function() {
                    var current = document.getElementsByClassName("active");

                    // If there's no active class
                    if (current.length > 0) { 
                        current[0].className = current[0].className.replace(" active", "");
                    }

                    // Add the active class to the current/clicked button
                    this.className += " active";
                });  
            }  

            function changeFunc() {
                var selectBox = document.getElementById("sortId");
                var selectedValue = selectBox.options[selectBox.selectedIndex].value;
                document.getElementById('priceSortingId').value = selectedValue;
            }

        </script>  

    </body> 

</html>