<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>List Manager</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/basic.css" type="text/css">
    </head>

    <body>
        <nav> 
            <div class="navbar">
                <div class="logo">   
                    <img src="pictures/logo_transparent.png" alt="Selfhtml">
                </div>
                <a href="/">Wohnungen anschauen</a>
                <a href="/item">Wohnung inserieren</a> 
                <a href="/user">User hinzufügen</a> 
                <a href="/userList">User anzeigen</a> 
                <a href="/impressum">Impressum</a> 
            </div>  
        </nav> 
        <div class="titelbar">  
            <div class="titel">
                <h2>Benutzerliste</h2>  
            </div>         
        </div>
 
        <div class="content">  
            <table border=2 frame=void rules=rows style="border-top: 2px solid gray;" > 
                <tr> 
                    <th>Bezeichnung</th>
                    <th>E-Mail</th>
                    <th>Telefon/Handy</th>
                    <td></td>
                    <td></td>
                </tr>   
                <tr th:each="user : ${userList}">
                    <td th:text="${user.getName()}">Ding 1</td>
                    <td th:text="${user.getMail()}">Ding 1</td>
                    <td th:text="${user.getNumber()}">Ding 1</td>
                    <td><a href="" th:href="${'/user?id=' + user.getId()}"><img src="pictures/edit.png" alt="edit" height="30"></a></td>
                    <td><a href="" onclick="return confirmDelete(this, 'Soll der Datensatz wirklich gelöscht werden? Falls noch Inserate zu diesem User existieren, werden die Kontaktdaten gelöscht.');" th:href="${'/user/delete?id=' + user.getId()}"><img src="pictures/delete.png" alt="delete" height="30"></a></td>

                </tr>  
            </table>   
        </div>    

        <script type="text/javascript">
            function confirmDelete(link, question)
            {  
                if (typeof(question) == 'undefined')
                    question = 'Wirklich löschen? Falls noch Inserate zu diesem User existieren, werden die Kontaktdaten gelöscht.' 
                return window.confirm(question); 
            }  
        </script>
    </body> 

</html>